.skills_main {
  margin: 60px 0;
}

.skills_inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills_inner h1 {
  font-weight: 400;
}

.skills_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
}

.skills_cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) {
  .skills_cards {
    width: 70%;
  }
}

@media only screen and (max-width: 730px) {
  .skills_cards {
    width: 80%;
  }

  .skills_wrapper {
    margin-top: 0;
  }
}

@media only screen and (max-width: 620px) {
  .skills_cards {
    width: 100%;
    justify-content: space-between;
  }
}
