.home_main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 5px);
  padding-top: 90px;
}

.home_section1,
.home_section2 {
  width: 50%;
  padding: 0 40px;
}

.home_section1_head {
  line-height: 50px;
}

.home_section1_head h1 {
  font-weight: 400;
}

.home_section1_para {
  color: var(--accent);
  font-size: 14px;
  margin-top: 20px;
  line-height: 24px; /* 150% */
}

.home_section2 img {
  height: 100%;
  width: 100%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}

@media only screen and (max-width: 1050px) {
  .home_main {
    flex-direction: column;
  }
  .home_section1 {
    order: 2;
  }
  .home_section2 {
    order: 1;
    height: 400px;
  }

  .home_main {
    width: 100%;
  }

  .home_section1,
  .home_section2 {
    width: 100%;
    padding: 0 10px;
  }

  .home_section2 img {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 415px) {
  h1 {
    font-size: 18px;
  }
  .home_main {
    height: auto;
  }
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 16px;
  }
}
