.experience_main {
  min-height: 100vh;
  background-color: var(--main);
  color: var(--primary);
  padding: 40px 0;
}

.experience_main .experience_main_heading {
  font-weight: 400;
  text-align: center;
}
