.main_nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  border-bottom: 2px solid white;
}

.scroll_nav {
  background-color: black;
}

.non_scroll_nav {
  background-color: white;
}

.nav_logo_main,
.nav_links_main,
.nav_resume {
  display: flex;
  align-items: center;
}

.nav_logo_main p {
  font-weight: 600;
}

.nav_links_main a {
  padding: 0 10px;
  font-weight: 600;
}

.links_scroll a {
  color: white;
}

.links_non_scroll a {
  color: black;
}

.nav_resume {
  padding: 10px 20px;
  border-radius: 5px;
}

.nav_resume_icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.nav_resume_icon img {
  width: 100%;
  height: 100%;
}
