.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  border-bottom: 2px solid black;
}

.scroll_nav {
  background-color: black;
}

.non_scroll_nav {
  background-color: white;
}

.nav_logo_main,
.nav_links_main,
.nav_resume {
  display: flex;
  align-items: center;
}

.nav_logo_main p {
  font-weight: 600;
}

.nav_links_main a {
  padding: 0 10px;
  font-weight: 600;
}

.links_scroll a {
  color: white;
}

.links_non_scroll a {
  color: black;
}

.nav_resume {
  padding: 10px 20px;
  border-radius: 5px;
}

.nav_resume_icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.nav_resume_icon img {
  width: 100%;
  height: 100%;
}

/* .nav_inner {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
  width: 100%;
} */

.nav_ham {
  width: 20px;
  height: 20px;
  display: none;
}

.nav_ham img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1050px) {
  .nav_logo_text {
    font-size: 14px;
  }
  .links_non_scroll a,
  .links_scroll a {
    font-size: 12px;
  }
  .nav_resume p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px) {
  .nav_logo_text {
    font-size: 12px;
  }
  .links_non_scroll a,
  .links_scroll a {
    font-size: 10px;
  }
  .nav_resume p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 570px) {
  .nav_logo_text {
    font-size: 12px;
  }
  .links_non_scroll a,
  .links_scroll a {
    font-size: 10px;
  }
  .nav_resume p {
    font-size: 10px;
  }
  .nav_links_main {
    display: none;
  }
  .nav_resume {
    display: none;
  }
  .nav_ham {
    display: block;
  }
}
