.project_main {
  min-height: 100vh;
  background-color: var(--main);
  color: var(--primary);
  padding: 40px 0;
  position: relative;
}

.project_main .project_main_heading {
  font-weight: 400;
  text-align: center;
}

.project_main_heading {
  text-align: center;
}

.project_all_projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.all_projects_image {
  width: 40%;
}

.all_projects_image img {
  object-fit: contain;
}

.project_all_text {
  width: 55%;
}

.project_all_text_serial {
  font-size: 46px;
  font-weight: 800;
  line-height: 56px; /* 116.667% */
}

.project_all_text_title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
}

.project_all_text p {
  font-size: 14px;
  font-weight: 400;
  color: #71717a;
  line-height: 24px;
}
/* .project_pagination {
  border: 2px solid red;
  position: absolute;
  bottom: 0;
} */

@media only screen and (max-width: 1200px) {
  .all_projects_image {
    width: 40%;
  }

  .project_all_text {
    width: 55%;
  }

  .project_all_text_title {
    font-size: 25px;
  }

  .project_all_text_serial {
    font-size: 36px;
  }
}

@media only screen and (max-width: 1000px) {
  .project_all_projects {
    flex-direction: column;
  }

  .all_projects_image {
    width: 100%;
  }

  .project_all_text {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .project_all_text_serial {
    font-size: 30px;
  }

  .project_all_text_title {
    font-size: 22px;
  }

  .project_desc {
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  .project_all_text_serial {
    font-size: 25px;
  }

  .project_all_text_title {
    font-size: 18px;
    margin-top: -10px;
  }

  .project_desc {
    font-size: 10px;
  }
}
